html,body{
	background-color: #eee;
	color:#676a6c;
}


.ui.vertical.menu .item > i.icon.left {
	float: none;
	margin: 0 0.35714286em 0 0;
}
.ui.mini.vertical.buttons .button{
	width: auto;
}





/*					Header				*/

#nav-header{
	background-color:gray() ;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}
#nav-header #header-search-field{
	padding-top: 17px;
	vertical-align:center;
	border:none;
	width:30px;
	outline:none;
}
#nav-header ul{
	margin:0px;
	padding:0px;
	list-style: none;
	color:#676a6c;
}
#nav-header ul li{
	float: left;
	margin-left: 15px;
	padding: 17px 0px;
}
#nav-header ul .label{
	position: absolute;
}
#admin-footer{
	position:absolute;
	width: 100%;
	bottom:0px;
	background-color:#ffe6e6;
	padding:10px;
}







/* 					Notification				 */
.notification-button {
	font-size: 20px;
	color: gray;
	display: inline-block;
	position: relative;
}

.notification-badge {
	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;

	padding: 1px 3px;
	font-size: 10px;

	position: absolute;
	top: 0;
	left: 10px;
}