html,body{
	background-color: #eee;
	color:#676a6c;
}


.ui.vertical.menu .item > i.icon.left {
	float: none;
	margin: 0 0.35714286em 0 0;
}
.ui.mini.vertical.buttons .button{
	width: auto;
}

.ui.segment{
	padding-bottom: 0;
}