html,body{
	font-style: "open sans","Helvetica Neue",Helvetica, Arial, sans-serif;
	background-color: #F5F8FA;
	color:#676a6c;
	height: 100%;
}



#side-menu{
	background-color: #FFFFFF;
	padding: 0px;

}

#side-menu:hover{
	background-color:#F8F9FA;
}

#side-menu h2{
	color:blue;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;

}

.display-table{
	display: table;
	height: 100vh;

}

.display-table-row{
	display: table-row;
	height: 100vh;

}

.display-table-cell{
	display: table-cell;
	float: none;
    height: 100vh;

}

.valign-top{
	vertical-align: top;
}
#nav-header{
	background-color:gray() ;
	border-bottom: 1px solid black;
}
#nav-header #header-search-field{
	padding-top: 17px;
	vertical-align:center;
	border:none;
	width:30px;
	outline:none;
}
#nav-header ul{
	margin:0px;
	padding:0px;
	list-style: none;
	color:#676a6c;
}
#nav-header ul li{
	float: left;
	margin-left: 15px;
	padding: 17px 0px;
}
#nav-header ul .label{
	position: absolute;
}
#admin-footer{
	position:absolute;
	width: 100%;
	bottom:0px;
	background-color:#ffe6e6;
	padding:10px;
}

<!-->
@import url(https://fonts.googleapis.com/css?family=Roboto);
#cssmenu {
	width: 200px;
	font-family: Roboto, Helvetica, sans-serif;
}
#cssmenu i {
	margin-right: 5px;
}
#cssmenu ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1;
}
#cssmenu ul li {
	position: relative;
	display: block;
}
#cssmenu ul li a {
	display: block;
	text-decoration: none;
	position: relative;
}
#cssmenu > ul {
	border: 1px solid #cccccc;
	border-radius: 3px;
	background: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
#cssmenu > ul > li:first-child > a {
	border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:last-child > a {
	border-radius: 0 0 3px 3px;
}
#cssmenu > ul > li:not(:last-child) {
	border-bottom: 1px solid #cccccc;
}
#cssmenu > ul > li.active > a {
	color: #777777;
	background-color: #e6e6e6;
}
#cssmenu > ul > li.has-sub > a::after {
	content: '';
	position: absolute;
	display: block;
	border: 5px solid transparent;
	border-top-color: #888888;
	right: 15px;
	top: 17px;
	transition: all .25s ease;
	transform-origin: 0 25%;
}
#cssmenu > ul > li.has-sub.active > a::after {
	transform: rotateX(180deg);
	border-top-color: #777777;
}
#cssmenu > ul > li:hover > a::after {
	border-top-color: #777777;
}
#cssmenu > ul > li > a {
	padding: 12px 15px;
	color: #888888;
	transition: all 0.3s ease-out;
	font-size: 14px;
}
#cssmenu > ul > li > a:hover {
	color: #777777;
	background-color: #e6e6e6;
}
#cssmenu ul ul li.active > a {
	background-color: #f2f2f2;
	color: #777777;
}
#cssmenu ul ul li.has-sub > a::after {
	content: '';
	position: absolute;
	display: block;
	border: 5px solid transparent;
	border-top-color: #888888;
	right: 15px;
	top: 15px;
	transition: all .25s ease;
	transform-origin: 0 25%;
}
#cssmenu ul ul li.has-sub.active > a::after {
	transform: rotateX(180deg);
	border-top-color: #777777;
}
#cssmenu ul ul li:hover > a::after {
	border-top-color: #777777;
}
#cssmenu ul ul li a {
	padding: 10px 15px;
	font-size: 14px;
	color: #888888;
	transition: all 0.3s ease-out;
}
#cssmenu ul ul li a:hover {
	background-color: #f2f2f2;
	color: #777777;
}
#cssmenu ul ul ul li a {
	padding-left: 25px;
}
